spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: NON_NULL
  datasource:
    url: ${DATABASE_JDBC_URL}
    username: ${DATABASE_POOLER_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    open-in-view: false

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000  # 24 saat

server:
  port: 8080

cors:
  allowed-origins: http://localhost:5173
